.signup-form{
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  
}
.signup-form h2{
  font-size: 2.5em;
  font-weight: 400;
}
.signup-form input{
  background-color: black;
  border: none;
  font-size: 1em;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  height: 3rem;
}

.signup-form button{
  background-color: white;
  color: black;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  margin-top: 2rem;
  border: none;
  border-radius: 3%;
  font-size: 1.3em;
}
.signup-form .success{
  color: green;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.signup-form .error{
  color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
}